<div >
  <div >
    <div >
      <div class="card table-with-switches">
        <div class="card-header">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="card-title">Carrito de compras</h3>
          </div>
        </div>
        <hr>

        <div class="card-body table-responsive">
          <div style="padding-left: 15px;">
            <span style="color: #797979; font-weight: 300;">Productos encontrados <b>({{ items ? items.length: 0 }})</b>.</span>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Imagen</th>
                <th>Clave</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let i = index;" >
                <td class="text-center">{{ (i + 1) }}</td>
                <td >
                  <img [src]="item.image" draggable="false" style="width: 80px; height: 80px;"/>
                </td>
                <td class="name">{{ item.key }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price | currency }}</td>
                <td class="text-center" >
                  <button (click)="removePiece(i)" style="border-radius: 50%; width: 40px; height: 40px; background: #dc3545; color: #fff;"><small><i class="fa fa-minus"></i></small></button> 
                  <span style="margin: 0px 10px; font-size: 20px; font-weight: bold;">{{ item.pieces }}</span> 
                  <button id="add" (click)="addPiece(i)" [disabled]="item.stock == item.pieces" style="border-radius: 50%; width: 40px; height: 40px; background: #dc3545; color: #fff;"><small><i class="fa fa-plus"></i></small></button>
                </td>
                <td class="text-center" style="padding: 12px 8px; display: table-cell; vertical-align: middle;">
                  <button class="btn btn-danger btn-wd" (click)="removeProduct(i)"><small><i class="fa fa-times"></i> Eliminar de mi carrito</small></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div style="display: flex; justify-content: center; margin: 30px 0px;">
          <button class="btn btn-danger btn-wd" (click)="createOrder()" [disabled]="!items || items.length < 1"><i class="fas fa-check"></i> Finalizar mi pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>